* {
  padding: 0px;
  margin: 0px;
}

body, html {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 18px;
}

#wrapper {
  width: 1000px;
  margin: 0px auto;
}

#content {
  padding: 20px;
}

#content form div {
  margin-bottom: 15px;
}

#content form label {
  display: inline-block;
  width: 150px;
}

#content form select, #content form input[type="text"], #content form input[type="password"] {
  width: 250px;
  border: 1px solid #ccc;
  line-height: 20px;
  outline: none;
  border-radius: 2px;
  padding: 3px 5px;
}

#content form input[type="submit"] {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5F4296), color-stop(1, #2D055E)) !important;
  background: -moz-linear-gradient(center top, #5F4296 5%, #2D055E 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#5f4296', endColorstr = '#2d055e') !important;
  background-color: #5F4296 !important;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #7203B2;
  display: inline-block;
  color: white !important;
  text-decoration: none !important;
  font-family: "Trebuchet MS";
  font-size: 13px;
  padding: 6px 18px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #572E57 !important;
}

#content form input[type="submit"]:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2d055e), color-stop(1, #5f4296)) !important;
  background: -moz-linear-gradient(center top, #2d055e 5%, #5f4296 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2d055e', endColorstr = '#5f4296') !important;
  background-color: #2d055e !important;
}

#content form input[type="submit"]:active {
  position: relative !important;
  top: 1px !important;
}

#content form input:focus {
  border: 1px solid #6a4f99;
}

#content form select {
  width: 262px;
}

#content form legend {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
  padding: 15px 0px;
  border-bottom: 1px solid #ddd;
  color: #2A0154;
}

div.page-header {
  margin: -30px 0px 25px 0px;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 2px 2px #ddd;
  box-shadow: 0px 1px 2px 2px #ddd;
}

div.page-header h1 {
  margin-bottom: 10px;
  color: #2A0154;
}

div.page-header p {
  color: #555;
}

a {
  color: #260259;
}

a:hover {
  text-decoration: none;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #C09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

.alert-success {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

#id-cfg {
  display: none;
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  line-height: 20px;
  outline: none;
  border-radius: 2px;
  padding: 3px 5px;
  font-family: "Courier New", sans-serif;
}