h1,h2,h3,h4,h5{
    font-weight: normal;
    color:#666;
}
body{
    font-size: 12px;
}

html, body{
    height:100% !important;
}

#wrapper{
    width: 1000px;
    margin: 0px auto -110px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#content{
    padding-top:60px;
}

#empty, #footer{
    height:90px;
    padding:0px;
    margin:0px;
}

#footer{
    text-align: center;
    font-size: 11px;
    width: 1000px;
    margin:0px auto;
}

#copy{
    padding:30px;
}

.submenu-fixed{
    position:fixed;
    top:40px;
    width:234px !important;
}

.login{
    background: #fff;
    width:224px;
    margin-left:-112px;
    left:50%;
    position: absolute;
    top:25%;
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
    width: 1000px !important;
}
table .caret {
    vertical-align: middle;
    margin-left: 5px;
}
span.red{
    color:red;
}
label{
    font-size: 12px;
}
.btn{
    font-size: 12px;
}
.photo-controls{
    padding-top:5px;
}
.well{
    -webkit-box-shadow: 0px 0px 1px 2px #eeeeee;
    box-shadow: 0px 0px 1px 2px #eeeeee;
}
i.tooltip-icon{
    margin-top:-3px;
}
a.dotted{
    color: #666;
    text-decoration: none;
    border-bottom: 1px dotted #777;
    cursor:pointer;
}